.navbar {
  overflow: hidden;
  top: 0;
  transition: top 0.3s;
  background: #d5e7e1;

}
.navbar img {
  float: left;
  display: block;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 22px;
  background: #d5e7e1;
  max-width: 10%;
  border-radius: 50%;

}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 1.7vw;
  background: #d5e7e1;
}

.navbar a:hover {
  background-color: #95cebb;
  color: black;
}

.navbar a.active {
  background-color: #e7d8d5;
  color: black;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: #3B5998;
  width: 20px;
  border-radius: 50%;

}

.fa-twitter {
  background: white;
  color: #55ACEE;
  width: 20px;
  border-radius: 50%;
}

.fa-instagram {
  background: white;
  color: #125688;
  width: 20px;
  border-radius: 50%;
}

.nav-right {
  float: right;
  font-family: 'Courier New', monospace;
  max-width: 85%;
}
.nav-right-bottom {
  float: right;
  font-family: 'Courier New', monospace;
  padding: 10px;
}

.topBtn {
  z-index: 1;
  position: fixed;
  bottom: 12px;
  right: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  max-width: 3%;
}

.formBtn {
  font-family: 'Courier New', monospace;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vw;
  cursor: pointer;
  background-color: #144434;
}


.teams {
  overflow: hidden;
  font-family: 'Courier New', monospace;
  color: black;
  font-size: 1.8vw;
  position: relative;
}

.teams h1 {
  font-size: 4vw;
}

.teams h2 {
  font-size: 2.5vw;
}

.teams a {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vw;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #144434;
}

.teamlinks {
  position: relative;
  padding: 15px;
  width: 30%;
  font-size: 1.7vw;
}

.bucs-teams .teamlinks {
  float: left;
}

.bucs-teams {
  overflow: hidden;
  font-family: 'Courier New', monospace;
  color: black;
  font-size: 1.8vw;
  position: relative;
}

.sunday-team {
  overflow: hidden;
  font-family: 'Courier New', monospace;
  color: black;
  font-size: 1.8vw;
  position: relative;
}

.devs-team {
  overflow: hidden;
  font-family: 'Courier New', monospace;
  color: black;
  font-size: 1.8vw;
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.7vw;
}

.teamlinks:hover .image {
  opacity: 0.3;
}

.teamlinks:hover .middle {
  opacity: 1;
}

.link {
  background-color: #154432;
  color: white;
  font-size: 1.7vw;
  padding: 16px 32px;
}

.link a{
  color: white;
}

form {
  overflow: hidden;
  font-family: 'Courier New', monospace;
  color: black;
  font-size: 1.8vw;
  padding: 10px;
  border: 10px;
  margin-bottom: 15px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

fieldset{
  font-size: 1.6vw;
  max-width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

legend {
  background-color: #144434;
  color: white;
  padding: 15px 15px;
  border-color: #144434;
  font-size: 1.5vw;
}



fieldset p {
  font-size: 1.5vw;
  font-weight: bold;
  color: #144434;
}

form button{
  background-color: #144434;
  font-family: 'Courier New', monospace;
  width: 100%;
  display: inline-block;
  color: white;
  font-weight: 600;
  height: 2.8rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}



.footer {
  overflow: hidden;
  top: 0;
  transition: top 0.3s;
  background: #d5e7e1;

}
.footer img {
  float: left;
  display: block;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 22px;
  background: #d5e7e1;
  max-width: 13%;

}

.ft-column {
  float: right;
  max-width: 15%;
  font-family: 'Courier New', monospace;
  font-size: 1.5vw;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

.ft-column h1{
  font-size: 1.6vw;
}
